/*!Theme Name: Bandana
Theme URI: https://designorbital.com/bandana/
Author: DesignOrbital
Author URI: https://designorbital.com/
Description: Bandana is a modern, creative and beautiful WordPress theme. Bandana is easy to use theme with clean code and elegant design. The theme is suitable for any kind of blog, business, creative agency and portfolio.
Version: 1.3.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: bandana
Domain Path: /languages/
Tags: left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
This theme, like WordPress, is licensed under the GPL v2 or later.
Use it to make something cool, have fun, and share what you've learned with others.
Bandana is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/*/html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline}html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;box-sizing:border-box}*,*:before,*:after{-webkit-box-sizing:inherit;box-sizing:inherit}body{background:#fff}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{font-weight:400;text-align:left}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}a{background-color:transparent}a:focus{outline:thin dotted}a:hover,a:active{outline:0}a img{border:0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;line-height:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:border-box;box-sizing:border-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}.toggle-menu-control:before,.sf-arrows .sf-with-ul:after,.header-menu-responsive .dropdown-toggle:after,.comment-navigation .nav-previous a:before,.comment-navigation .nav-next a:after,.paging-navigation .nav-previous a:before,.paging-navigation .nav-next a:after,.image-navigation .nav-previous a:before,.image-navigation .nav-next a:after,.pagination .prev.page-numbers:before,.pagination .next.page-numbers:after,.entry-meta .first-category a:before,.entry-meta .byline:before,.entry-meta .posted-on a:before,.entry-meta .parent-post-link a:before,.entry-meta .full-size-link a:before,.post-label:before,.more-link:before,.search-submit:before{display:inline-block;font-family:fontawesome;font-size:14px;font-size:.875rem;font-style:normal;font-weight:400;font-variant:normal;line-height:1;speak:none;text-align:center;text-decoration:inherit;text-rendering:auto;text-transform:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}body{background:#f5f5f5;color:#3d3d3d;font-family:lato,sans-serif;font-size:16px;font-size:1rem;line-height:1.6;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}p{font-size:16px;font-size:1rem;margin-bottom:26px;margin-bottom:1.625rem}p:last-child{margin-bottom:0}h1,h2,h3,h4,h5,h6{clear:both;color:#020202;font-family:merriweather sans,sans-serif;line-height:1.3}h1{font-size:32px;font-size:2rem;margin-bottom:26px;margin-bottom:1.625rem}h2{font-size:26px;font-size:1.625rem;margin-bottom:26px;margin-bottom:1.625rem}h3{font-size:23px;font-size:1.4375rem;margin-bottom:26px;margin-bottom:1.625rem}h4{font-size:16px;font-size:1rem;margin-bottom:26px;margin-bottom:1.625rem}h5{font-size:12px;font-size:.75rem;margin-bottom:26px;margin-bottom:1.625rem;-webkit-text-stroke:.35px}h6{font-size:10px;font-size:.625rem;margin-bottom:26px;margin-bottom:1.625rem;-webkit-text-stroke:.35px}a,a:visited{color:#1e73be;text-decoration:none}a:hover,a:focus,a:active{color:#1e73be}blockquote{color:#555;border-left:6px solid #1e73be;font-family:merriweather sans,sans-serif;font-size:21px;font-size:1.3125rem;line-height:1.3;margin:0 auto 26px;margin:0 auto 1.625rem;padding:15px;padding:.9375rem;position:relative}blockquote blockquote{margin:15px;margin:.9375rem}blockquote p{margin:0}blockquote cite{color:#ccc;display:block;font-size:15px;font-size:.9375rem;font-style:normal;margin:15px 0 0;margin:.9375rem 0 0;text-transform:uppercase}blockquote cite a,blockquote cite a:visited{color:#ccc}blockquote cite a:hover,blockquote cite a:focus,blockquote cite a:active{color:#999}blockquote.alignright,blockquote.alignleft{display:block;float:none;margin:0 0 26px;margin:0 0 1.625rem}blockquote:last-child{margin-bottom:0}b,strong{font-weight:700}dfn,cite,em,i{font-style:italic}abbr,acronym{border-bottom:1px dotted #ebebeb;cursor:help}mark{background:#fcf8e3;padding:2px 4px;padding:.125rem .25rem;text-decoration:none}sup,sub{font-size:75%;height:0;line-height:0;position:relative;vertical-align:baseline}sup{bottom:1ex}sub{top:.5ex}small{font-size:75%}big{font-size:125%}cite{font-size:12px;font-size:.75rem;font-style:normal;text-transform:uppercase}address{font-style:italic;margin:0 0 26px;margin:0 0 1.625rem}address:last-child{margin-bottom:0}code,kbd,samp,tt,var{font-family:Menlo,Monaco,Consolas,courier new,monospace;font-size:12px;font-size:.75rem}kbd{background-color:#020202;border-radius:2px;-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.25);box-shadow:inset 0 -1px 0 rgba(0,0,0,.25);color:#fff;font-size:90%;padding:2px 4px;padding:.125rem .25rem}kbd kbd{-webkit-box-shadow:none;box-shadow:none;font-size:100%;font-weight:700;padding:0}pre{background:#fafafa;border:1px dashed #ebebeb;color:#020202;font-family:Menlo,Monaco,Consolas,courier new,monospace;font-size:12px;font-size:.75rem;margin:0 0 26px;margin:0 0 1.625rem;max-width:100%;overflow:auto;padding:15px;padding:.9375rem}pre:last-child{margin-bottom:0}hr{background-color:#ebebeb;border:0;height:1px;margin:0 auto 26px;margin:0 auto 1.625rem;width:80%}ul,ol{margin:0 0 26px 26px;margin:0 0 1.625rem 1.625rem}ul:last-child,ol:last-child{margin-bottom:0}ul{list-style:disc}ul ul{list-style:circle}ul ul ul{list-style:square}ol{list-style:decimal}ol ol{list-style:upper-alpha}ol ol ol{list-style:lower-roman}ol ol ol ol{list-style:lower-alpha}li>ul,li>ol{margin-bottom:0;margin-left:26px;margin-left:1.625rem}dt{font-weight:700}dd{margin:0 26px 26px;margin:0 1.625rem 1.625rem}table{table-layout:fixed}table{background-color:transparent;border-spacing:0;border-collapse:collapse;min-width:100%;margin-bottom:26px;margin-bottom:1.625rem}table caption{margin-bottom:15px;margin-bottom:.9375rem}table th,table td{padding:8px;padding:.5rem;line-height:1.5;vertical-align:top;border-top:1px solid #ebebeb}table thead th{vertical-align:bottom;border-bottom:2px solid #ebebeb;font-weight:700}table tbody+tbody{border-top:2px solid #ebebeb}table table{background-color:#fafafa}table:last-child{margin-bottom:0}.table-responsive{display:block;margin-bottom:26px;margin-bottom:1.625rem;width:100%;overflow-x:auto}.table-responsive:last-child{margin-bottom:0}img{height:auto;max-width:100%;vertical-align:middle}img.alignright,img.alignleft{max-width:110px}img.alignright{margin:0 0 15px 20px;margin:0 0 .9375rem 1.25rem}img.alignleft{margin:0 20px 15px 0;margin:0 1.25rem .9375rem 0}.img-responsive{display:block;height:auto;max-width:100%}figure{margin:0}embed,iframe,object,audio,canvas,progress,video{max-width:100%}button,input,select,textarea{font-size:100%;line-height:inherit;margin:0;max-width:100%}input,textarea{background-image:-webkit-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0))}input:focus,textarea:focus{outline:0}input[type=search]{-webkit-appearance:none}fieldset{min-width:0;padding:0;margin:0;border:0}legend{display:block;white-space:normal;width:100%;padding:0;margin-bottom:.5rem;font-size:1.5rem;line-height:inherit}::-webkit-input-placeholder{color:#999}:-moz-placeholder{color:#999}::-moz-placeholder{color:#999;opacity:1}:-ms-input-placeholder{color:#999}button,input[type=button],input[type=reset],input[type=submit]{background:#1e73be;border:1px solid #1e73be;border-bottom:3px solid #1e73be;color:#fff;cursor:pointer;display:inline-block;font-size:12px;font-size:.75rem;line-height:normal;padding:12px 24px;padding:.75rem 1.5rem;position:relative;text-transform:uppercase;text-decoration:none;-webkit-appearance:button}button:hover,button:focus,button:active,input[type=button]:hover,input[type=button]:focus,input[type=button]:active,input[type=reset]:hover,input[type=reset]:focus,input[type=reset]:active,input[type=submit]:hover,input[type=submit]:focus,input[type=submit]:active{background:#1e73be;outline:none}button:active,input[type=button]:active,input[type=reset]:active,input[type=submit]:active{bottom:-2px}input[type=text],input[type=number],input[type=email],input[type=url],input[type=password],input[type=search],select,textarea{color:#020202;border:1px solid #ebebeb;border-radius:2px}input[type=text]:focus,input[type=number]:focus,input[type=email]:focus,input[type=url]:focus,input[type=password]:focus,input[type=search]:focus,select:focus,textarea:focus{color:#020202}input[type=text],input[type=number],input[type=email],input[type=url],input[type=password],input[type=search]{padding:8px 10px;padding:.5rem .625rem}select{padding:8px 10px;padding:.5rem .625rem;width:98%}textarea{padding:8px 10px;padding:.5rem .625rem;resize:vertical;vertical-align:top;width:98%}.says,.screen-reader-text{clip:rect(1px,1px,1px,1px);height:1px;overflow:hidden;position:absolute!important;width:1px;word-wrap:normal!important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;-webkit-box-shadow:0 0 2px 2px rgba(0,0,0,.6);box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;padding:.9375rem 1.4375rem .875rem;text-decoration:none;top:5px;width:auto;z-index:100000}.site .skip-link{background-color:#f1f1f1;-webkit-box-shadow:0 0 1px 1px rgba(0,0,0,.2);box-shadow:0 0 1px 1px rgba(0,0,0,.2);color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;left:-9999em;outline:none;padding:15px 23px 14px;padding:.9375rem 1.4375rem .875rem;text-decoration:none;text-transform:none;top:-9999em}.logged-in .site .skip-link{-webkit-box-shadow:0 0 2px 2px rgba(0,0,0,.2);box-shadow:0 0 2px 2px rgba(0,0,0,.2)}.site .skip-link:focus{clip:auto;height:auto;left:6px;top:7px;width:auto;z-index:100000}.alignright{display:inline;float:right;margin:0 0 15px 15px;margin:0 0 .9375rem .9375rem}.alignleft{display:inline;float:left;margin:0 15px 15px 0;margin:0 .9375rem .9375rem 0}.aligncenter{clear:both;display:block;margin:0 auto}.clear:before,.clear:after,.site-wrapper:before,.site-wrapper:after,.site-header:before,.site-header:after,.site-branding:before,.site-branding:after,.main-navigation:before,.main-navigation:after,.navigation:before,.navigation:after,.nav-links:before,.nav-links:after,.site-content:before,.site-content:after,.site-main:before,.site-main:after,.post-wrapper:before,.post-wrapper:after,.sidebar:before,.sidebar:after,.hentry:before,.hentry:after,.entry-content:before,.entry-content:after,.widget:before,.widget:after,.site-footer:before,.site-footer:after,.site-info:before,.site-info:after,.site-info-inside:before,.site-info-inside:after,.comment-body:before,.comment-body:after,.comment-meta:before,.comment-meta:after,.comment-content:before,.comment-content:after{content:" ";display:table}.clear:after,.site-wrapper:after,.site-header:after,.site-branding:after,.main-navigation:after,.navigation:after,.nav-links:after,.site-content:after,.site-main:after,.post-wrapper:after,.sidebar:after,.hentry:after,.entry-content:after,.widget:after,.site-footer:after,.site-info:after,.site-info-inside:after,.comment-body:after,.comment-meta:after,.comment-content:after{clear:both}.main-navigation{background:#fff;border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;padding:15px;padding:.9375rem;position:relative;text-align:center}.site-header-menu{display:none}.toggle-menu-wrapper a,.toggle-menu-wrapper a:visited{color:#1e73be;-webkit-transition:all .25s ease-out;transition:all .25s ease-out}.toggle-menu-wrapper a:hover,.toggle-menu-wrapper a:focus,.toggle-menu-wrapper a:active{color:#1e73be}.toggle-menu-wrapper a:before{content:"\f0c9";font-size:25px;font-size:1.5625rem;vertical-align:middle}.toggle-menu-wrapper .toggle-menu-label{font-family:montserrat,sans-serif;font-size:14px;font-size:.875rem;letter-spacing:2px;margin:0 5px;margin:0 .3125rem;text-transform:uppercase}body.has-responsive-menu{overflow:hidden}.site-header-menu-responsive{background:#141414;color:#fff;margin:0;overflow:hidden;overflow-y:auto;padding:30px;position:fixed;top:0;left:-280px;width:280px;height:100%;z-index:99999;-webkit-transition:all .3s ease;transition:all .3s ease}.site-header-menu-responsive.show{left:0}.site-header-menu-responsive .header-menu-responsive-close{color:#1e73be;cursor:pointer;font-size:35px;font-size:2.1875rem;line-height:1;position:absolute;top:5px;right:15px}.site-header-menu-responsive .header-menu-responsive-close:hover{color:#1e73be}@media(min-width:375px){.site-header-menu-responsive{left:-335px;width:335px}}@media(min-width:414px){.site-header-menu-responsive{left:-375px;width:375px}}.header-menu-responsive{list-style:none;margin:0 auto;padding:0}.header-menu-responsive *{list-style:none;margin:0;padding:0}.header-menu-responsive ul{display:none;margin-left:24px;margin-left:1.5rem}.header-menu-responsive ul.toggle-on{display:block}.header-menu-responsive li{position:relative;word-wrap:break-word;white-space:normal}.header-menu-responsive li.current_page_item a,.header-menu-responsive li.current-menu-item a,.header-menu-responsive li.current_page_ancestor>a,.header-menu-responsive li.current-menu-ancestor>a,.header-menu-responsive li.current_page_parent>a,.header-menu-responsive li.current-menu-parent>a{color:#1e73be}.header-menu-responsive a,.header-menu-responsive a:visited{color:#ddd;display:block;font-family:montserrat,sans-serif;font-size:16px;font-size:1rem;padding:8px 0;padding:.5rem 0}.header-menu-responsive a:hover,.header-menu-responsive a:focus,.header-menu-responsive a:active{color:#aaa}.header-menu-responsive .dropdown-toggle{background:0 0;border:none;position:absolute;top:0;right:0;width:40px;height:40px}.header-menu-responsive .dropdown-toggle:after{font-size:16px;font-size:1rem;color:#fff;content:"\f078"}.header-menu-responsive .dropdown-toggle.toggle-on:after{content:"\f077";color:#1e73be}.header-menu-responsive .page_item_has_children>a,.header-menu-responsive .menu-item-has-children>a{padding-right:40px;padding-right:2.5rem}.pagination{font-size:0;margin:30px 0 0;margin:1.875rem 0 0;overflow:hidden;text-align:center}.pagination .page-numbers{background:#fff;border:1px solid #f0f0f0;color:#3d3d3d;display:inline-block;font-size:14px;font-size:.875rem;margin:2px 1px;margin:.125rem .0625rem;padding:9px 14px;padding:.5625rem .875rem;text-transform:uppercase;text-decoration:none;-webkit-transition:all .25s ease-out;transition:all .25s ease-out}.pagination .page-numbers:hover{background:#1e73be;color:#fff}.pagination .current.page-numbers{background:#1e73be;color:#fff;font-weight:700}.pagination .prev.page-numbers:before,.pagination .next.page-numbers:after{font-size:14px;font-size:.875rem}.pagination .prev.page-numbers:before{content:"\f053"}.pagination .next.page-numbers:after{content:"\f054"}.post-navigation{background:#fff;border:1px solid #f0f0f0;font-size:15px;font-size:.9375rem;line-height:1.5;margin:15px 0 0;margin:.9375rem 0 0;padding:15px;padding:.9375rem;position:relative;width:100%}.post-navigation .nav-next{margin:30px 0 0;margin:1.875rem 0 0}.post-navigation a,.post-navigation a:visited{color:#020202;display:block;padding:0;position:relative;-webkit-transition:all .25s ease-out;transition:all .25s ease-out}.post-navigation a:hover,.post-navigation a:focus,.post-navigation a:active{color:#1e73be}.post-navigation .meta-nav{color:#1e73be;display:block;font-size:23px;font-size:1.4375rem;font-weight:700;line-height:1;margin:0 0 10px;margin:0 0 .625rem;text-transform:uppercase}.comment-navigation{margin:0;overflow:hidden;text-align:center}.comment-navigation.comment-navigation-above,.comment-navigation.comment-navigation-below{margin:15px 0 0;margin:.9375rem 0 0;padding:0}.image-navigation{margin:15px 0 0;margin:.9375rem 0 0;overflow:hidden;text-align:center}.image-navigation{background:#fff;border:1px solid #f0f0f0;margin:15px 0 0;margin:.9375rem 0 0;padding:15px;padding:.9375rem}.comment-navigation .nav-previous,.comment-navigation .nav-next,.image-navigation .nav-previous,.image-navigation .nav-next{display:inline-block;margin:0 1px;padding:0}.comment-navigation .nav-previous a,.comment-navigation .nav-previous a:visited,.comment-navigation .nav-next a,.comment-navigation .nav-next a:visited,.image-navigation .nav-previous a,.image-navigation .nav-previous a:visited,.image-navigation .nav-next a,.image-navigation .nav-next a:visited{color:#999;display:block;font-size:13px;font-size:.8125rem;margin:0 15px;margin:0 .9375rem;padding:0;text-transform:uppercase}.comment-navigation .nav-previous a:hover,.comment-navigation .nav-previous a:focus,.comment-navigation .nav-previous a:active,.comment-navigation .nav-next a:hover,.comment-navigation .nav-next a:focus,.comment-navigation .nav-next a:active,.image-navigation .nav-previous a:hover,.image-navigation .nav-previous a:focus,.image-navigation .nav-previous a:active,.image-navigation .nav-next a:hover,.image-navigation .nav-next a:focus,.image-navigation .nav-next a:active{color:#1e73be}.comment-navigation .nav-previous .meta-nav,.comment-navigation .nav-next .meta-nav,.image-navigation .nav-previous .meta-nav,.image-navigation .nav-next .meta-nav{display:none}.comment-navigation .nav-previous a:before,.image-navigation .nav-previous a:before{color:#1e73be;content:"\f053";margin:0 5px 0 0;margin:0 .3125rem 0 0}.comment-navigation .nav-next a:after,.image-navigation .nav-next a:after{color:#1e73be;content:"\f054";margin:0 0 0 5px;margin:0 0 0 .3125rem}.site-wrapper{position:relative}.site-header{background:#fff;border-top:8px solid #1e73be;margin:0;padding:.9375rem 0;position:relative}.site-branding-wrapper{overflow:hidden;text-align:center}.has-site-branding .site-branding-wrapper,.wp-custom-logo .site-branding-wrapper{margin:15px 0;margin:.9375rem 0}.custom-logo{width:auto;max-height:60px;margin:0;padding:0}.has-site-branding .site-branding{margin:0;padding:0;overflow:hidden}.wp-custom-logo.has-site-branding .site-branding{margin:15px 0 0;margin:.9375rem 0 0}.site-title{font-family:merriweather sans,sans-serif;font-size:36px;font-size:2.25rem;font-weight:700;line-height:1.3;margin:0;padding:0;word-wrap:break-word}.site-title a,.site-title a:visited{color:#020202;text-decoration:none}.site-title a:hover,.site-title a:focus,.site-title a:active{color:#666}.site-description{color:#666;font-size:14px;font-size:.875rem;line-height:1.6;margin:5px 0 0;margin:.3125rem 0 0;padding:0;word-wrap:break-word}.site-content{margin:0;padding:15px 0;padding:.9375rem 0}.sidebar{margin:30px 0 0;margin:1.875rem 0 0;position:relative}.site-footer{border-bottom:8px solid #1e73be;position:relative}.site-info{background:#fff;border-top:1px solid #f0f0f0;padding:30px 0;padding:1.875rem 0}.credits{color:#aaa;font-size:12px;font-size:.75rem;margin-top:5px;margin-top:.3125rem;position:relative;text-align:center}.credits a,.credits a:visited{color:#aaa}.credits a:hover,.credits a:focus,.credits a:active{color:#bfbfbf}.sticky{}.hentry{background:#fff;border:1px solid #f0f0f0;margin:0 0 15px;margin:0 0 .9375rem;padding:15px;padding:.9375rem}.hentry:last-of-type{margin:0}.entry-image-wrapper{margin:0;overflow:hidden;position:relative}.entry-image-wrapper img{margin:0 auto}.entry-image-wrapper:after{background:#fff;bottom:-40px;left:-5%;content:'';display:block;height:80px;width:110%;position:absolute;-webkit-transform:rotate(5.65deg);transform:rotate(5.65deg);z-index:10}.entry-content-wrapper{position:relative;z-index:20}.page-content{background:#fff;border:1px solid #f0f0f0;margin:0 0 15px;margin:0 0 .9375rem;padding:15px;padding:.9375rem;word-wrap:break-word}.entry-header-wrapper{position:relative;margin:0 0 30px;margin:0 0 1.875rem;padding:0 0 20px;padding:0 0 1.25rem}.entry-header-wrapper:after{background:#1e73be;content:"";display:block;height:2px;position:absolute;width:40px;bottom:0;left:0;z-index:2}.entry-header{margin:0;padding:0}.entry-title{clear:none;font-size:23px;font-size:1.4375rem;line-height:1.3;margin:0;padding:0;word-wrap:break-word}.page-header{background:#fff;border:1px solid #f0f0f0;margin:0 0 15px;margin:0 0 .9375rem;padding:15px;padding:.9375rem;position:relative}.page-header .page-title{clear:none;font-size:23px;font-size:1.4375rem;line-height:1.2;margin:0;padding:0;position:relative;text-transform:capitalize;word-wrap:break-word}.page-header .page-title span{color:#1e73be}.page-header .page-title:after{background:#1e73be;content:"";display:block;height:2px;margin:15px 0 0;margin:.9375rem 0 0;width:40px}.page-header .taxonomy-description{color:#999;font-size:15px;font-size:.9375rem;margin:15px 0 0;margin:.9375rem 0 0}.page-header .taxonomy-description p{font-size:15px;font-size:.9375rem}.entry-title a,.entry-title a:visited,.page-title a,.page-title a:visited{color:#020202}.entry-title a:hover,.entry-title a:focus,.entry-title a:active,.page-title a:hover,.page-title a:focus,.page-title a:active{color:#1e73be}.entry-summary{margin:15px 0 0;margin:.9375rem 0 0;padding:0;word-wrap:break-word}.entry-content{margin:0;padding:0;word-wrap:break-word}.entry-content-attachment{font-size:15px;font-size:.9375rem;line-height:1.5;margin:0;padding:0;word-wrap:break-word}.entry-attachment{margin:0 0 15px;margin:0 0 .9375rem}.entry-content h1:first-child,.entry-content h2:first-child,.entry-content h3:first-child,.entry-content h4:first-child,.entry-content h5:first-child,.entry-content h6:first-child,.entry-summary h1:first-child,.entry-summary h2:first-child,.entry-summary h3:first-child,.entry-summary h4:first-child,.entry-summary h5:first-child,.entry-summary h6:first-child,.page-content h1:first-child,.page-content h2:first-child,.page-content h3:first-child,.page-content h4:first-child,.page-content h5:first-child,.page-content h6:first-child,.comment-content h1:first-child,.comment-content h2:first-child,.comment-content h3:first-child,.comment-content h4:first-child,.comment-content h5:first-child,.comment-content h6:first-child{margin-top:0}.page-links{clear:both;font-size:0;margin:0;padding:0}.page-links a,.page-links>span{background:#fafafa;color:#3d3d3d;display:inline-block;font-size:14px;font-size:.875rem;line-height:1;margin:0 1px;margin:0 .0625rem;padding:10px 14px;padding:.625rem .875rem;text-align:center;text-transform:uppercase;text-decoration:none;-webkit-transition:all .25s ease-out;transition:all .25s ease-out}.page-links a{color:#020202;text-decoration:none}.page-links a:hover{background:#1e73be;color:#fff;font-weight:700}.page-links>span{background:#1e73be;color:#fff}.page-links .page-links-title{background:0 0;border:none;color:#666;display:none;font-size:14px;font-size:.875rem;margin:0;padding:0 7px 0 0;padding:0 .4375rem 0 0}.more-link-wrapper{margin:30px 0 0;margin:1.875rem 0 0}.more-link-wrapper .more-link,.more-link-wrapper .more-link:visited{color:#999;font-size:12px;font-size:.75rem;letter-spacing:1px;padding-left:32px;padding-left:2rem;position:relative;text-transform:uppercase;text-decoration:none;-webkit-transition:all .25s ease-out;transition:all .25s ease-out}.more-link-wrapper .more-link:hover,.more-link-wrapper .more-link:focus,.more-link-wrapper .more-link:active{color:#020202;padding-left:52px;padding-left:3.25rem}.more-link-wrapper .more-link:hover:before,.more-link-wrapper .more-link:focus:before,.more-link-wrapper .more-link:active:before{width:40px}.more-link-wrapper .more-link:before{background:#1e73be;content:"";left:0;top:7px;position:absolute;height:2px;width:20px;-webkit-transition:width .2s ease-in-out,left .2s ease-in-out;transition:width .2s ease-in-out,left .2s ease-in-out}.entry-meta{color:#3d3d3d;font-size:12px;font-size:.75rem;letter-spacing:1px;text-transform:uppercase}.entry-meta>span{display:inline-block;margin:0 15px 0 0;margin:0 .9375rem 0 0}.entry-meta.entry-meta-footer>span{margin:0 7px 0 0;margin:0 .4375rem 0 0}.entry-meta a,.entry-meta a:visited{color:#3d3d3d}.entry-meta a:hover,.entry-meta a:focus,.entry-meta a:active{color:#020202}.entry-meta .first-category a:before{color:#1e73be;content:"\f114";font-size:12px;font-size:.75rem;margin:0 5px 0 0;margin:0 .3125rem 0 0}.entry-meta .byline:before{color:#1e73be;content:"\f007";font-size:12px;font-size:.75rem;margin:0 5px 0 0;margin:0 .3125rem 0 0}.entry-meta .posted-on a:before{color:#1e73be;content:"\f017";font-size:12px;font-size:.75rem;margin:0 5px 0 0;margin:0 .3125rem 0 0}.entry-meta .parent-post-link a:before{color:#1e73be;content:"\f129";font-size:12px;font-size:.75rem;margin:0 5px 0 0;margin:0 .3125rem 0 0}.entry-meta .full-size-link a:before{color:#1e73be;content:"\f1c5";font-size:12px;font-size:.75rem;margin:0 5px 0 0;margin:0 .3125rem 0 0}.has-post-thumbnail .entry-meta-header-before{position:absolute;top:-35px;left:0}.entry-meta-header-before>span{margin-bottom:5px;margin-bottom:.3125rem}.entry-meta-header-after>span{margin-top:5px;margin-top:.3125rem}.entry-meta-footer{margin:26px 0 0;margin:1.625rem 0 0}.updated:not(.published){display:none}.post-label-sticky:before{color:#1e73be;content:"\f08d";font-size:12px;font-size:.75rem;margin:0 5px 0 0;margin:0 .3125rem 0 0}.cat-links-single:after,.logged-in .tags-links-single:after{content:"\2022";font-size:12px;font-size:.75rem;margin:0 0 0 7px;margin:0 0 0 .4375rem}.author-info{background:#fff;border:1px solid #f0f0f0;margin:15px 0 0;margin:.9375rem 0 0;padding:15px;padding:.9375rem}.author-info .author-avatar{margin:0 0 15px;margin:0 0 .9375rem;padding:0}.author-info .avatar{border:1px solid #ebebeb;padding:2px;padding:.125rem}.author-info .author-description{font-size:15px;font-size:.9375rem;line-height:1.5}.author-info .author-description .author-title{font-size:23px;font-size:1.4375rem;margin:0 0 15px;margin:0 0 .9375rem;padding:0 0 15px;padding:0 0 .9375rem;position:relative}.author-info .author-description .author-title:after{background:#1e73be;content:"";display:block;height:2px;position:absolute;width:40px;bottom:0;left:0;z-index:2}#comments{margin:0 auto;padding:0;position:relative;width:100%}.comments-area-wrapper{background:#fff;border:1px solid #f0f0f0;margin:15px 0 0;margin:.9375rem 0 0;padding:15px;padding:.9375rem}.no-comments-wrapper{border-top:1px solid #f0f0f0;margin:30px 0 0;margin:1.875rem 0 0;padding:30px 0 0;padding:1.875rem 0 0;text-align:center}.comments-title{font-size:23px;font-size:1.4375rem;margin:0 0 15px;margin:0 0 .9375rem;padding:0 0 15px;padding:0 0 .9375rem;position:relative}.comments-title:after{background:#1e73be;content:"";display:block;height:2px;position:absolute;width:40px;bottom:0;left:0;z-index:2}.comment-list{list-style:none;margin:15px 0 0;margin:.9375rem 0 0;padding:0}.comment-list .children{list-style:none}.comment-list>li>.comment-body,.comment-list>li>.children .comment-body{border-top:1px solid #ebebeb;margin:15px 0 0;margin:.9375rem 0 0;padding-top:15px;padding-top:.9375rem;position:relative}.comment-list>li:first-child:not(.bypostauthor)>.comment-body{border-top:none;margin-top:0;padding-top:0}.comment-list .bypostauthor>.comment-body{background:#f2f2f2;border-bottom:3px solid #1e73be;padding:15px;padding:.9375rem}.comment-list .comment-author .avatar{border:1px solid #ebebeb;display:block;margin:0 0 15px;margin:0 0 .9375rem;padding:2px;padding:.125rem}.comment-list .bypostauthor .comment-author .avatar{border:1px solid #d9d9d9}.comment-list .comment-author .avatar{width:68px;height:68px}.comment-list .children .comment-author .avatar{width:50px;height:50px}.comment-list .comment-meta{font-size:12px;font-size:.75rem;margin-bottom:15px;margin-bottom:.9375rem}.comment-list .comment-content{margin-bottom:15px;margin-bottom:.9375rem;word-wrap:break-word}.comment-list .reply{font-size:12px;font-size:.75rem;text-transform:uppercase}.comment-list .comment-author .fn{font-weight:900}.comment-list .comment-author .fn a,.comment-list .comment-author .fn a:visited{color:#333}.comment-list .comment-author .fn a:hover,.comment-list .comment-author .fn a:focus,.comment-list .comment-author .fn a:active{color:#999}.comment-list .says{display:none}.comment-list .edit-link{margin-left:15px;margin-left:.9375rem}.comment-list .comment-awaiting-moderation{color:#1e73be;margin-top:10px;margin-top:.625rem}div#respond{background:#fff;border:1px solid #f0f0f0;margin:15px 0 0;margin:.9375rem 0 0;padding:15px;padding:.9375rem;position:relative}.comment-list div#respond{background:#fafafa;border:1px solid #f0f0f0;margin:15px 0;margin:.9375rem 0;padding:15px;padding:.9375rem}div#respond .comment-reply-title{font-size:23px;font-size:1.4375rem;margin:0 0 15px;margin:0 0 .9375rem;padding:0 0 15px;padding:0 0 .9375rem;position:relative}div#respond .comment-reply-title:after{background:#1e73be;content:"";display:block;height:2px;position:absolute;width:40px;bottom:0;left:0;z-index:2}div#respond .comment-notes,div#respond .logged-in-as,div#respond .form-allowed-tags,div#respond .form-allowed-tags code{font-size:13px;font-size:.8125rem}div#respond .comment-form label{display:block}div#respond .form-submit{margin:0}div#respond .required{color:#c0392b}div#respond #cancel-comment-reply-link{color:#c0392b;font-size:12px;font-size:.75rem;margin:0;padding:10px;padding:.625rem;position:absolute;text-transform:uppercase;top:0;right:0}.comment-subscription-form{font-size:15px;font-size:.9375rem;line-height:1.5;margin:30px 0 0;margin:1.875rem 0 0;padding:0}.comment-subscription-form+.comment-subscription-form{margin:8px 0 0;margin:.5rem 0 0}.widget{background:#fff;border:1px solid #f0f0f0;font-size:15px;font-size:.9375rem;margin:0 0 15px;margin:0 0 .9375rem;padding:15px;padding:.9375rem;word-wrap:break-word}.widget p{font-size:15px;font-size:.9375rem}.error-404 .widget{border:none;padding:0}.widget:last-child,.site-footer-widgets .widget:last-child{margin-bottom:0}.widget .widget-title{background:#1e73be;color:#fff;font-size:14px;font-size:.875rem;letter-spacing:2px;margin:-15px -15px 15px;margin:-.9375rem -.9375rem .9375rem;padding:15px 15px 30px;padding:.9375rem .9375rem 1.875rem;overflow:hidden;position:relative;text-transform:uppercase}.widget .widget-title:after{background:#fff;bottom:-41px;left:-5%;content:'';display:block;height:50px;width:110%;position:absolute;-webkit-transform:rotate(2.5deg);transform:rotate(2.5deg);z-index:10}.widget a,.widget a:visited{color:#3d3d3d}.widget a:hover,.widget a:focus,.widget a:active{color:#666}.widget ul,.widget ol{list-style:none;margin:0}.widget li>ul,.widget li>ol{margin-bottom:0;margin-left:24px;margin-left:1.5rem}.widget li{padding:0 0 15px;padding:0 0 .9375rem;position:relative}.widget li ul{margin-top:9px;margin-top:.5625rem}.widget li li:last-child{padding-bottom:0}.widget li:last-child{padding-bottom:0}.search-form{margin:0;padding:0;position:relative}.search-form .search-field{border:1px solid #f0f0f0;height:50px;padding:0 20px;padding:0 1.25rem;text-align:left;width:calc(100% - 60px)}.search-form .search-submit{background:#1e73be;border:0;color:#fff;display:block;float:right;width:60px;height:50px;text-align:center;-webkit-transition:all .25s ease-out;transition:all .25s ease-out}.search-form .search-submit:hover{background:#1e73be}.search-form .search-submit:before{content:"\f002"}.widget_tag_cloud>div:before,.widget_tag_cloud>div:after{content:'';display:table}.widget_tag_cloud>div:after{clear:both}.widget_tag_cloud a:after{color:#999;content:'\2044';margin:0 6px;margin:0 .375rem}.widget_tag_cloud a,.widget_tag_cloud a:visited{float:left;font-size:15px!important;font-size:.9375rem!important;text-decoration:none;-webkit-transition:all .25s ease-out;transition:all .25s ease-out}.widget_recent_entries ul{counter-reset:bandana-widget-recent-entries-counter}.widget_recent_entries ul li{position:relative;padding-left:30px;padding-left:1.875rem}.widget_recent_entries ul li:before{color:#bfbfbf;content:counter(bandana-widget-recent-entries-counter) ".";counter-increment:bandana-widget-recent-entries-counter;font-size:20px;font-size:1.25rem;font-style:italic;line-height:1;position:absolute;top:4px;left:0}.widget_recent_entries ul li .post-date{color:#999;display:block;font-size:12px;font-size:.75rem;margin:2px 0 0;margin:.125rem 0 0}.page-content img.wp-smiley,.entry-content img.wp-smiley,.comment-content img.wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}.entry-caption{color:#999;font-size:12px;font-size:.75rem;font-style:italic;border:1px solid #f0f0f0;margin:0;padding:10px;padding:.625rem;text-align:center}.wp-caption{border:1px solid #f0f0f0;margin-bottom:26px;margin-bottom:1.625rem;max-width:100%}.wp-caption:last-child{margin-bottom:0;margin-bottom:0}.wp-caption img[class*=wp-image-]{display:block;margin:0 auto}.wp-caption .wp-caption-text{color:#999;font-size:12px;font-size:.75rem;font-style:italic;margin:0;padding:5px;padding:.3125rem;text-align:center}.wp-caption.alignright,.wp-caption.alignleft{max-width:110px}.wp-caption.alignright{margin:0 0 15px 20px;margin:0 0 .9375rem 1.25rem}.wp-caption.alignleft{margin:0 20px 15px 0;margin:0 1.25rem .9375rem 0}.gallery{margin:0 0 26px;margin:0 0 1.625rem}.gallery .gallery-item{display:inline-block;padding:1.79104477%;text-align:center;vertical-align:top;width:100%}.gallery.gallery-columns-2 .gallery-item{max-width:50%}.gallery.gallery-columns-3 .gallery-item{max-width:33.33%}.gallery.gallery-columns-4 .gallery-item{max-width:25%}.gallery.gallery-columns-5 .gallery-item{max-width:20%}.gallery.gallery-columns-6 .gallery-item{max-width:16.66%}.gallery.gallery-columns-7 .gallery-item{max-width:14.28%}.gallery.gallery-columns-8 .gallery-item{max-width:12.5%}.gallery.gallery-columns-9 .gallery-item{max-width:11.11%}.gallery .gallery-icon img{margin:0 auto}.gallery .gallery-caption{color:#999;display:block;font-size:12px;font-size:.75rem;padding:5px 0;padding:.3125rem 0}.gallery.gallery-columns-4 .gallery-caption,.gallery.gallery-columns-5 .gallery-caption,.gallery.gallery-columns-6 .gallery-caption,.gallery.gallery-columns-7 .gallery-caption,.gallery.gallery-columns-8 .gallery-caption,.gallery.gallery-columns-9 .gallery-caption{display:none}.gallery:last-child{margin:0;margin:0}.hentry .mejs-container{margin:0 0 26px;margin:0 0 1.625rem}.hentry .mejs-mediaelement,.hentry .mejs-container .mejs-controls{background:#333}.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded,.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{background:#fff}.hentry .mejs-controls .mejs-time-rail .mejs-time-current{background:#1e73be}.hentry .mejs-controls .mejs-time-rail .mejs-time-total,.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total{background:rgba(255,255,255,.33)}.hentry .mejs-container .mejs-controls .mejs-time{padding-top:9px}.hentry .mejs-controls .mejs-time-rail span,.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{border-radius:0}.hentry .mejs-overlay-loading{background:0 0}.overlay-effect{background:#141414;opacity:0;position:fixed;top:0;left:0;visibility:hidden;width:100%;height:100%;z-index:99995;-webkit-transition:opacity 250ms cubic-bezier(.23,1,.32,1);transition:opacity 250ms cubic-bezier(.23,1,.32,1)}.overlay-effect.open{opacity:.4;visibility:visible}.img-featured,.img-postlist{opacity:1;-webkit-transition:opacity .2s ease-in-out;transition:opacity .2s ease-in-out}.img-featured:hover,.img-postlist:hover{opacity:.6}body.admin-bar .site-header-menu-responsive{top:46px}@media(min-width:37.5625em){body.admin-bar .site-header-menu-responsive{top:46px}body.demo-site .site-header-menu-responsive{top:100px}body.admin-bar.demo-site .site-header-menu-responsive{top:146px}}@media(min-width:38.8125em){body.admin-bar .site-header-menu-responsive{top:46px}body.demo-site .site-header-menu-responsive{top:80px}body.admin-bar.demo-site .site-header-menu-responsive{top:126px}}@media(min-width:48.9375em){body.admin-bar .site-header-menu-responsive{top:32px}body.demo-site .site-header-menu-responsive{top:80px}body.admin-bar.demo-site .site-header-menu-responsive{top:112px}}img#wpstats,img[id*=botd]{position:absolute;top:-9999px}@media(min-width:544px){blockquote{padding:15px 20px;padding:.9375rem 1.25rem;width:90%}blockquote blockquote{width:95%}blockquote .sidebar{width:100%;margin:0;padding-right:0;padding-right:0}blockquote.alignright,blockquote.alignleft{display:inline;max-width:230px}blockquote.alignright{float:right;margin:0 0 10px 15px;margin:0 0 .625rem .9375rem}blockquote.alignleft{float:left;margin:0 15px 10px 0;margin:0 .9375rem .625rem 0}img.alignright,img.alignleft{max-width:175px}.site-header-menu-responsive{left:-400px;width:400px}.post-navigation .nav-links{display:-webkit-box;display:-ms-flexbox;display:flex}.post-navigation .nav-previous,.post-navigation .nav-next{width:50%}.post-navigation .nav-previous{margin:0;padding:0 30px 0 0}.post-navigation .nav-next{border-left:1px solid #f0f0f0;margin:0;padding:0 0 0 30px}.site-header{padding:30px 0;padding:1.875rem 0}.site-header-inside-wrapper{-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-ms-flexbox;display:flex}.site-branding-wrapper{width:100%}.has-site-branding .site-branding-wrapper,.wp-custom-logo .site-branding-wrapper{margin:0}.site-hero-wrapper .entry-image-site-hero{height:294px}.site-hero-wrapper.site-hero-wrapper-single .entry-title-site-hero{font-size:28px;font-size:1.75rem}.entry-title.entry-title-single{font-size:28px;font-size:1.75rem}.page-header .page-title{font-size:28px;font-size:1.75rem}.author-info{-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.author-info .author-avatar{margin:0;width:15%}.author-info .author-description{padding:0 25px;padding:0 1.5625rem;width:85%}.comment-list>li>.comment-body{padding-left:83px;padding-left:5.1875rem}.comment-list>li>.children .comment-body{padding-left:65px;padding-left:4.0625rem}.comment-list .bypostauthor .comment-body{padding-left:98px;padding-left:6.125rem}.comment-list>li>.children .bypostauthor .comment-body{padding-left:80px;padding-left:5rem}.comment-list .pingback .comment-body{padding-left:0}.comment-list>li>.comment-body .comment-author .avatar,.comment-list>li>.children .comment-body .comment-author .avatar{margin:0;position:absolute;top:15px;left:0}.comment-list>li:first-child:not(.bypostauthor)>.comment-body .comment-author .avatar{top:0}.comment-list>li.bypostauthor>.comment-body .comment-author .avatar,.comment-list>li>.children li.bypostauthor>.comment-body .comment-author .avatar{top:15px;left:15px}.widget .widget-title:after{bottom:-43px;-webkit-transform:rotate(1.5deg);transform:rotate(1.5deg)}.wp-caption.alignright,.wp-caption.alignleft{max-width:175px}}@media(min-width:768px){body{font-size:18px;font-size:1.125rem;line-height:1.8}p{font-size:18px;font-size:1.125rem;margin-bottom:32px;margin-bottom:2rem}h1{font-size:34px;font-size:2.125rem;margin-bottom:32px;margin-bottom:2rem}h2{font-size:28px;font-size:1.75rem;margin-bottom:32px;margin-bottom:2rem}h3{font-size:24px;font-size:1.5rem;margin-bottom:32px;margin-bottom:2rem}h4{font-size:17px;font-size:1.0625rem;margin-bottom:32px;margin-bottom:2rem}h5{font-size:12px;font-size:.75rem;margin-bottom:32px;margin-bottom:2rem}h6{font-size:11px;font-size:.6875rem;margin-bottom:32px;margin-bottom:2rem}blockquote{font-size:24px;font-size:1.5rem;margin:0 auto 32px;margin:0 auto 2rem}blockquote.alignright,blockquote.alignleft{display:inline;max-width:300px}address{margin:0 0 32px;margin:0 0 2rem}pre{margin:0 0 32px;margin:0 0 2rem;padding:20px;padding:1.25rem}hr{margin:0 auto 32px;margin:0 auto 2rem}ul,ol{margin:0 0 32px 36px;margin:0 0 2rem 2.25rem}dd{margin:0 24px 32px;margin:0 1.5rem 2rem}table{margin-bottom:32px;margin-bottom:2rem}table caption{margin-bottom:20px;margin-bottom:1.25rem}table th,table td{padding:12px;padding:.75rem}img.alignright,img.alignleft{max-width:270px}img.alignright{margin:0 0 15px 25px;margin:0 0 .9375rem 1.5625rem}img.alignleft{margin:0 25px 15px 0;margin:0 1.5625rem .9375rem 0}.alignleft{margin:0 20px 20px 0;margin:0 1.25rem 1.25rem 0}.alignright{margin:0 0 20px 20px;margin:0 0 1.25rem 1.25rem}.main-navigation{position:relative;width:100%;z-index:100}.site-header-menu{display:block;margin:0 auto}.sf-menu,.sf-menu *{margin:0;padding:0;list-style:none}.sf-menu{font-size:0}.sf-menu li{position:relative}.sf-menu ul{position:absolute;display:none;font-size:18px;font-size:1.125rem;top:100%;left:0;z-index:200}.sf-menu>li>ul{top:38px;left:-19px}.sf-menu>li{display:inline-block}.sf-menu li:hover>ul,.sf-menu li.sfHover>ul{display:block}.sf-menu a{display:block;position:relative}.sf-menu ul ul{top:0;left:105%}.sf-menu{margin-bottom:0;text-align:center}.sf-menu ul{background:#fff;-webkit-box-shadow:0 1px 3px rgba(0,0,0,.1);box-shadow:0 1px 3px rgba(0,0,0,.1);min-width:15em;max-width:15em;padding:25px 35px;padding:1.5625rem 2.1875rem;text-align:left}.sf-menu a,.sf-menu a:visited{font-family:montserrat,sans-serif}.sf-menu>li>a,.sf-menu>li>a:visited{color:#3d3d3d;font-size:13px;font-size:.8125rem;padding:0 15px;padding:0 .9375rem;text-transform:uppercase;text-decoration:none;-webkit-transition:all .25s ease-out;transition:all .25s ease-out}.sf-menu>li>a:hover,.sf-menu>li>a:focus,.sf-menu>li>a:active{color:#1e73be}.sf-menu ul a,.sf-menu ul a:visited{color:#020202;font-size:13px;font-size:.8125rem;padding:8px 0;padding:.5rem 0}.sf-menu ul a:hover,.sf-menu ul a:focus,.sf-menu ul a:active{color:#1e73be}.sf-menu ul li:last-child a{border-bottom:none}.sf-menu>li.current_page_item>a,.sf-menu>li.current-menu-item>a,.sf-menu>li.current_page_ancestor>a,.sf-menu>li.current-menu-ancestor>a,.sf-menu>li.current_page_parent>a,.sf-menu>li.current-menu-parent>a{color:#1e73be}.sf-menu>li li.current_page_item>a,.sf-menu>li li.current-menu-item>a,.sf-menu>li li.current_page_ancestor>a,.sf-menu>li li.current-menu-ancestor>a,.sf-menu>li li.current_page_parent>a,.sf-menu>li li.current-menu-parent>a{color:#1e73be}.sf-menu li{word-wrap:break-word;white-space:normal;-webkit-transition:background .2s;transition:background .2s}.sf-menu ul li{background:#fff}.sf-menu ul ul li{background:#fff}.sf-menu li:hover,.sf-menu li.sfHover{-webkit-transition:none;transition:none}.sf-menu>li:last-child>ul,.sf-menu>li:nth-last-child(2)>ul{left:auto;right:0}.sf-menu>li:last-child>ul ul,.sf-menu>li:nth-last-child(2)>ul ul{left:auto;right:105%}.sf-arrows .sf-with-ul:after{content:"\f107";color:#bfbfbf;font-size:13px;font-size:.8125rem;line-height:1.7;position:absolute;top:0;right:0}.sf-arrows>li>.sf-with-ul:focus:after,.sf-arrows>li:hover>.sf-with-ul:after,.sf-arrows>.sfHover>.sf-with-ul:after{color:#3d3d3d}.sf-arrows ul .sf-with-ul:after{content:"\f105";color:#bfbfbf;font-size:15px;font-size:.9375rem;line-height:1.7;position:absolute;top:8px;right:0}.sf-arrows ul li>.sf-with-ul:focus:after,.sf-arrows ul li:hover>.sf-with-ul:after,.sf-arrows ul .sfHover>.sf-with-ul:after{color:#3d3d3d}.toggle-menu-wrapper{display:none}.site-social-menu-header ul li{margin:0 20px 0 0;margin:0 1.25rem 0 0}.site-social-menu-footer a,.site-social-menu-footer a:visited{width:55px;height:55px}.pagination .page-numbers{font-size:15px;font-size:.9375rem;padding:13px 20px;padding:.8125rem 1.25rem}.post-navigation{margin:30px 0 0;margin:1.875rem 0 0;padding:30px;padding:1.875rem}.comment-navigation.comment-navigation-above,.comment-navigation.comment-navigation-below{margin:30px 0 0;margin:1.875rem 0 0}.image-navigation{margin:30px 0 0;margin:1.875rem 0 0;padding:30px;padding:1.875rem}.site-header{padding:2.8125rem 0}.custom-logo{max-height:80px}.site-content{padding:30px 0;padding:1.875rem 0}.hentry{margin:0 0 30px;margin:0 0 1.875rem;padding:30px;padding:1.875rem}.page-content{margin:0 0 30px;margin:0 0 1.875rem;padding:30px;padding:1.875rem}.entry-title{font-size:28px;font-size:1.75rem}.entry-title.entry-title-single{font-size:32px;font-size:2rem}.front-page-featured-page-wrapper .entry-title,.front-page-featured-portfolio-wrapper .entry-title{font-size:23px;font-size:1.4375rem}.page-header{margin:0 0 30px;margin:0 0 1.875rem;padding:30px 100px;padding:1.875rem 6.25rem;text-align:center}.page-header .page-title{font-size:32px;font-size:2rem}.page-header .page-title:after{margin:15px auto;margin:.9375rem auto}.entry-summary,.entry-summary p{font-size:18px;font-size:1.125rem;line-height:1.8}.entry-content-attachment{font-size:16px;font-size:1rem;line-height:1.6}.entry-attachment{margin:0 0 30px;margin:0 0 1.875rem}.entry-meta-footer{margin:32px 0 0;margin:2rem 0 0}.author-info{margin:30px 0 0;margin:1.875rem 0 0;padding:30px;padding:1.875rem}.comments-area-wrapper{margin:30px 0 0;margin:1.875rem 0 0;padding:30px;padding:1.875rem}.comment-list{margin:30px 0 0;margin:1.875rem 0 0}.comment-list>li>.comment-body,.comment-list>li>.children .comment-body{margin-top:30px;margin-top:1.875rem;padding-top:30px;padding-top:1.875rem}.comment-list .bypostauthor .comment-body{padding:30px 30px 30px 123px;padding:1.875rem 1.875rem 1.875rem 7.6875rem}.comment-list>li>.children .bypostauthor .comment-body{padding:30px 30px 30px 94px;padding:1.875rem 1.875rem 1.875rem 5.875rem}.comment-list>li>.comment-body .comment-author .avatar,.comment-list>li>.children .comment-body .comment-author .avatar{top:30px}.comment-list>li.bypostauthor>.comment-body .comment-author .avatar,.comment-list>li>.children li.bypostauthor>.comment-body .comment-author .avatar{top:30px;left:30px}div#respond{margin:30px 0 0;margin:1.875rem 0 0;padding:30px;padding:1.875rem}.comment-list div#respond{margin:30px 0;margin:1.875rem 0;padding:30px;padding:1.875rem}div#respond #cancel-comment-reply-link{padding:20px;padding:1.25rem}.widget{margin:0 0 30px;margin:0 0 1.875rem;padding:30px;padding:1.875rem}.widget .widget-title{margin:-30px -30px 30px;margin:-1.875rem -1.875rem 1.875rem;padding:15px 30px 30px;padding:.9375rem 1.875rem 1.875rem}.widget .widget-title:after{bottom:-42px;-webkit-transform:rotate(1.35deg);transform:rotate(1.35deg)}.entry-caption{font-size:14px;font-size:.875rem;padding:20px;padding:1.25rem}.wp-caption{margin-bottom:32px;margin-bottom:2rem}.wp-caption .wp-caption-text{padding:10px 20px;padding:.625rem 1.25rem}.wp-caption.alignright,.wp-caption.alignleft{max-width:270px}.wp-caption.alignright{margin:0 0 15px 25px;margin:0 0 .9375rem 1.5625rem}.wp-caption.alignleft{margin:0 25px 15px 0;margin:0 1.5625rem .9375rem 0}.gallery{margin:0 0 32px;margin:0 0 2rem}.gallery .gallery-caption{font-size:13px;font-size:.8125rem;padding:5px;padding:.3125rem}.gallery.gallery-columns-4 .gallery-caption,.gallery.gallery-columns-5 .gallery-caption{display:block}.hentry .mejs-container{margin:0 0 32px;margin:0 0 2rem}}@media(min-width:992px){.sidebar table th,.sidebar table td{padding:4px;padding:.25rem}.main-navigation{margin:0}.sf-menu>li:last-child a:not(.sf-with-ul),.sf-menu>li:last-child a:not(.sf-with-ul):visited{padding-right:0}.pagination{margin:60px 0 30px;margin:3.75rem 0 1.875rem}.comment-navigation.comment-navigation-above,.comment-navigation.comment-navigation-below{margin:30px 0 0;margin:1.875rem 0 0}.site-header{padding:60px 0;padding:3.75rem 0}.site-title{font-size:32px;font-size:2rem}.has-no-sidebar .site-content{width:787px;margin:0 auto}.sidebar{margin:0}.widget .widget-title:after{bottom:-41px;-webkit-transform:rotate(2.5deg);transform:rotate(2.5deg)}}@media(min-width:1200px){blockquote.alignright,blockquote.alignleft{max-width:320px}blockquote.alignright{margin:0 0 10px 30px;margin:0 0 .625rem 1.875rem}blockquote.alignleft{margin:0 30px 10px 0;margin:0 1.875rem .625rem 0}.sidebar table th,.sidebar table td{padding:6px;padding:.375rem}img.alignright,img.alignleft{max-width:300px}img.alignright{margin:0 0 15px 30px;margin:0 0 .9375rem 1.875rem}img.alignleft{margin:0 30px 15px 0;margin:0 1.875rem .9375rem 0}.sf-menu>li>a,.sf-menu>li>a:visited{font-size:14px;font-size:.875rem;padding:0 17px;padding:0 1.0625rem}.sf-menu ul a,.sf-menu ul a:visited{font-size:14px;font-size:.875rem}.sf-arrows .sf-with-ul:after{font-size:14px;font-size:.875rem}.pagination .page-numbers{font-size:17px;font-size:1.0625rem;padding:18px 28px;padding:1.125rem 1.75rem}.custom-logo{max-height:100px}.site-title{font-size:36px;font-size:2.25rem}.site-content{padding:45px 0;padding:2.8125rem 0}.site-info{padding:60px 0;padding:3.75rem 0}.page-content .widget:last-child{margin-bottom:0;padding-bottom:0}.entry-title{line-height:1.3}.entry-title.entry-title-single{font-size:36px;font-size:2.25rem}.page-header .page-title{font-size:36px;font-size:2.25rem;line-height:1.3}.page-header .taxonomy-description,.page-header .taxonomy-description p{font-size:16px;font-size:1rem}.wp-caption{margin-bottom:32px;margin-bottom:2rem}.wp-caption .wp-caption-text{padding:20px;padding:1.25rem}.wp-caption.alignright,.wp-caption.alignleft{max-width:300px}.wp-caption.alignright{margin:0 0 15px 30px;margin:0 0 .9375rem 1.875rem}.wp-caption.alignleft{margin:0 30px 15px 0;margin:0 1.875rem .9375rem 0}}