@charset "UTF-8";
/*!
Theme Name: Salbii-Child
Theme URI: http://www.salbii.com/
Template: salbii
Author: Tfingi
Author URI: http://themeforest.net/user/Tfingi
Description: This is Salbii. A responsive multipurpose theme.
Version: 2.1
License: GNU General Public License
License URI: license.txt
Tags: light, one-column, two-columns, left-sidebar, right-sidebar, flexible-width, custom-colors, custom-menu, featured-images, full-width-template, post-formats, theme-options, threaded-comments, translation-ready
*/
@import url('../salbii/style.css');
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import 'fabEco.css';
/*.toppanel .language-switch.menu li {
    width: auto !important;
}*/
@font-face {
    font-display:auto;
  
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  
}

body{font-family: 'Lato', Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;font-weight: 400;}

.single .site-content { padding-top:0px !important;}

h1.blog-title {font-family: 'Montserrat', sans-serif; font-size:1.6em; color:#57bde3}

.ls-overflow-visible {
    overflow: visible;
}
.CabeceraInteriorTexto{
	color:white;
	font-size:25px;
	text-align:center;
	font-family:'Lato';
	margin:160px 0 0 0
}
.CabeceraInteriorTexto h2{color:white;font-size:25px; font-weight:bold; text-shadow:#666 2px 2px 2px; margin:0}
.CabeceraInteriorTexto hr{
	color: #fff;
	background-color: #fff;
	height: 5px;
	width:20%;
	margin:0 auto;
	border:none
	}

.textoAzul{text-align:center;}	
.textoAzul p{
	font-family:'Lato';
	font-weight:400;
	color:#3eb3df;
	font-size:22px;
	line-height:1.2;
	
	} 
.textoAzul h1{
	font-family:'Lato';
	font-weight:400;
	color:#3eb3df;
	text-transform:uppercase;
	
	font-size:26px;
	margin:20px 0 10px 0;
	}

/* textos con iconos persinalizados */
.textoNegroIcono{
	text-aling:left;
	color:#343434;
	font-size:1.1em;
	}
.textoNegroIcono p{
	font-weight: 400;
	}
/*.textoNegroIcono h2{
	font-weight:lighter;
	}*/
.textoNegroIcono h3{
	font-size:20px;
	font-weight:bold;
	text-transform:uppercase;
	margin:20px 0 0 0
	}
	
.textoNegroIcono strong{
	color:#3eb3df;
	/*font-size:1.1em;
	font-weight: 400;*/
	}
	
h2.sinSubtitulo{ padding:50px 0}

/* alerta registro */
.post-188{ text-align:center; padding:100px 50px 50px 50px; border-top:1px solid #555;  border-bottom:1px solid #555; margin:250px 50px 50px 50px; background: url('http://www.panel.es/wp-content/uploads/2015/06/icoDOWNLOAD.png') center top no-repeat; background-size:120px}
.post-188 em{ display:block; font-size:16px; text-transform:none; margin-top:20px}
.post-188 .CabeceraInteriorTexto{ margin:-150px 0 0 0}

.download-box .download-count{padding:0 .5em 1em .5em}


body .noticiasBlog{ border:none; padding:0}
body .noticiasBlog div{  background:none; border:none; color:black; font-size:18px}
body .noticiasBlog div a.link_image{ display:block}
body .noticiasBlog div a.link_image img{ float: right; width:33%; border:white 10px solid; margin:50px; box-shadow:#999 10px 10px 10px;
     -moz-transform: rotate(10deg);
     -o-transform: rotate(10deg);
     -webkit-transform: rotate(10deg);
     transform: rotate(10deg);
}
body .noticiasBlog div.flex-caption a.link_image{ display:block}

.textoFormularioCV{ color:#fff}
.FormularioTxtNegro{ color:#000}


.top-bar .large-2{width:70%; text-align:right; float:left}
.header-layout-1 .top-bar-section{ margin-top:1em}

.top-bar .large-2 div{ text-align:right;}
.top-bar .large-10{  width:19%; float:right}
.top-bar .large-10 div{  text-align:left }
/*div.top-bar-with-logo .header-logo img{ width:90px}*/
.header-logo.headertop__logo{ margin-top:0; padding-right:0px}
	

body.blog .site-content, body.archive .site-content, body.page-template-page-demoblog-php .site-content {
    padding-top: 0;
}

/*ZAHORI CLIENTES*/

.comillas, .comillas2{color:#bfbfe2; line-height:200px;font-size:200px; font-family:'Lato'; float:left}
.comillas{lmargin-right:10px}
.comillas2{
	}

#padre{
	background-image: url('http://www.panel.es/wp-content/uploads/2016/12/fondoprueba.png');
	background-repeat:no-repeat;
	background-size:100%;
	background-position: center bottom;
	min-height:400px;
	}
#hijo1, #hijo2{
	width:50%;
	height:100%;
	float:left;
	padding-bottom: 60px
	}
#padre h3{
	background:#1cb1f8;;
	border-radius: 20px;
	padding:20px;
	display:block;
	font-family:'Lato';
	margin:20px 35px 0 35px;
	color:#fff;
	}

#padre ul{ 
	font-family:'Lato';
	font-size:18px;
	color:#444;
	font-weight:400;
	
	}

#padreMov{
	
	min-height:400px;
	}
#hijo1Mov, #hijo2Mov{
	height:100%;
	padding: 20px 20px 0px 20px;
	margin-bottom: 20px;
	
	}
#hijo1Mov{background:#9dd9f6 url('http://www.panel.es/wp-content/uploads/2016/12/fondopruebaMov1.png') no-repeat right bottom;}
#hijo2Mov{background:#ceecfa url('http://www.panel.es/wp-content/uploads/2016/12/fondopruebaMov2.png') no-repeat left bottom;}
#padreMov h3{
	background:#1cb1f8;
	border-radius: 20px;
	padding:20px;
	display:block;
	font-family:'Lato';
	margin:0px 0px 0 0px;
	color:#fff;
	}

#padreMov ul{ 
	font-family:'Lato';
	font-size:18px;
	color:#444;
	font-weight:400;
	margin:10px 0px 100px 20px;
	
	}

.ulIzda{margin:10px 80px 100px 60px;}
.ulDcha{margin:10px 40px 100px 110px;}
#padreMov ul li{ line-height:23px;margin-bottom:15px;}

.SolicitudZahori form{color: #FFFFFF}

.SolicitudZahori h1{ margin-bottom: -20px!important }

.SolicitudZahori input[type="text"],.SolicitudZahori input[type="password"], .SolicitudZahori input[type="date"],.SolicitudZahori input[type="datetime"],.SolicitudZahori input[type="datetime-local"],.SolicitudZahori input[type="month"],.SolicitudZahori input[type="week"],.SolicitudZahori input[type="email"],.SolicitudZahori input[type="number"], input[type="search"],.SolicitudZahori input[type="tel"],.SolicitudZahori input[type="time"], input[type="url"],.SolicitudZahori textarea {
    background-color: #A9D1F5;
    font-family: inherit;
    border: 2px solid rgba(0, 0, 0, 0.125);
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 1em;
    margin: 0 0 0em 0;
    padding: 0.85714em;
    height: 2em;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.SolicitudZahori input[type="radio"] {margin: 0}
.SolicitudZahori b {margin-top: 7px; display: block}
@media only screen and (max-width: 450px) {
.SolicitudForm .vcpb-default{ background-image: none !important; background-color:#50b6d7 !important }
}
.marginNone{ margin: 0 !important }
.clearFloat{ clear:both}

a[href^="tel:"]:before {
    
}

.SolicitudSiNo form{}

.SolicitudSiNo h1{ margin-bottom: -20px!important }

.SolicitudSiNo input[type="text"],.SolicitudSiNo input[type="password"], .SolicitudSiNo input[type="date"],.SolicitudSiNo input[type="datetime"],.SolicitudSiNo input[type="datetime-local"],.SolicitudSiNo input[type="month"],.SolicitudSiNo input[type="week"],.SolicitudSiNo input[type="email"],.SolicitudSiNo input[type="number"], input[type="search"],.SolicitudSiNo input[type="tel"],.SolicitudSiNo input[type="time"], input[type="url"],.SolicitudSiNo textarea {
    background-color: white;
    font-family: inherit;
    border: 2px solid rgba(0, 0, 0, 0.125);
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 1em;
    margin: 0 0 0em 0;
    padding: 0.85714em;
    height: 2em;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.SolicitudSiNo input[type="radio"] {margin: 0}
.SolicitudSiNo b {margin-top: 7px; display: block}

#very-special-field
{
    height:40px;
}

.site-footer__menu{
	margin-top:0px;
}

.cjTxtForm{
	height: 80px
}

@media only screen and (min-width: 768px){
.header-layout-1.large {
	padding: 5px 0px;
}

}

@media screen and (max-width: 600px){
#wpadminbar {
     top: -46px;
}
}



@media (min-width:1170px){
.filaLayer .row{
   max-width: 100% !important;
}
}



@media only screen and (min-width: 768px){
.search-block {
    min-width: 32px !important;
}
.headertop .search-block .search-field, .search-block .search-field:focus {
    background-color: rgb(0, 0, 0) !important;
    color:white !important;
}
}


@media only screen and (max-width: 924px){
.top-bar-section ul {
    font-size: 12px;

}
}

@media only screen and (max-width: 850px){
.top-bar-section ul {
    font-size: 11px;

}



.top-bar-section li a:not(.button) {
    padding: 0 8px;
}
}

@media only screen and (max-width: 768px){
.text-menu {
    display:none;
}
.text-logo {
    display:visible;
}
}

@media only screen and (min-width: 768px){
.text-menu {
    display:visible;
}
.text-logo {
    display:none;
}
}

.ls-nav-next:hover, .ls-nav-prev:hover {
opacity: 1 !important;
visibility: visible !important;
display: inline-block !important; 
background-color: rgba(150,150,150,0.0) !important;
}
.wpcf7-list-item-label {
    margin-left: 0px;
}

li.wpml-ls-menu-item ul li a {
width: auto;
}

.wpml-ls-legacy-list-horizontal {
    border: 0px solid transparent;
    padding: 0px;
    clear: both;
    float:right;
    margin-top: -2px;
}
.wpml-ls-legacy-list-horizontal ul li a{
line-height:inherit !important;
color: #ffffff!important;
font-size:14px !important;
font-family:lato;
font-weight:400;
    padding: 0 3px!important;
}

@media only screen and (max-width: 768px){
.wpml-ls-legacy-list-horizontal {
    margin-top: -40px;
}
}



.search-block .search-button {

    margin: 2px 4px 0 0;

}

.headertop .search-block .search-field, .search-block .search-field:focus {

        margin: 2px 4px 0 0 ;
}

@media only screen and (min-width: 768px){
.top-bar-section .dropdown {
    left: 0;
    top: auto;
    background: #112735;
    min-width: 100%;
    z-index:400;
}
}

@media only screen and (min-width: 768px){
.top-bar-section .has-dropdown > a {
     padding-right: 0px !important; 
}
}

@media only screen and (max-width: 768px){
.top-bar-section .search-block{
    display:none;
}
}


.toppanel .search-block {
    border-left: 0px solid rgba(255, 255, 255, 0.1);
}

.top-bar-section ul.language-switch.right, .language-switch.right {
    margin-left: 0px;
    border-left: 0px solid rgba(255, 255, 255, 0.1);
}

@media only screen and (min-width: 768px){
.columna-logo{
	width:40%;
}

.columna-logo > .header-logo{
    margin-top: -30px;
}

}





@media only screen and (max-width: 768px){
.header-logo.headertop__logo {
    margin-bottom: 4px;
}
}


.has-dropdown:hover > .dropdown {
        visibility: visible !important;
}

.megamenu-sub-menu{
	display:none !important;
	z-index:500;
	position:absolute;
}

.megamenu-parent:hover > .megamenu-sub-menu {
        display:block !important;
}


.listadoRSS {
        visibility: hidden !important;
        display:none;
    }

.RSSparent:hover + .listadoRSS {
        visibility: visible !important;
        display:block;
}

.dropbtn {
    background-color: rgba(0,0,0,0);
    color: #2ca8d2;
    padding: 12px;
    font-size: 12px;
    border: none;
}

.dropdownn {
    position: relative;
    display: inline-block;
}
@media only screen and (min-width: 768px){
	.dropdownn {
	    float:right;
	}
	.dropdown-content {
	    position: absolute;
        left: -100px;
	}
	.dropbtn {
	    padding: 14px;
	}
}
@media only screen and (max-width: 768px){
.dropdown-content {
    position:fixed;
}
}
.dropdown-content {
    display: none;
    background-color: #303030;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 500;
}

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    font-size:11px;
}

.dropdown-content a:hover {background-color: #1A2C39;}

.dropdownn:hover .dropdown-content {display: block;}

.dropdownn:hover .dropbtn {background-color: rgba(0,0,0,0); color:white;}


.top-bar-section ul{
	width:auto! important;
}
.linkFormBlanco{color:greenyellow;transition: color 0.3s}
.linkFormBlanco:hover{color:darkgreen;transition: color 0.3s}



/*\\FORMULARIO MAILCHIMP POPUP\\*/

#mc_embed_signup{background: url(https://www.panel.es/wp-content/uploads/2018/09/c.jpg);  clear:left;padding:40px 70px;}
#mc_embed_signup h2{ font:18px;  color: white }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	.indicates-required{font-size: 12px; margin-bottom: 10px;color: white}

	#mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px}
	#mergeRow-gdpr {margin-top: 20px;}
	#mergeRow-gdpr fieldset label {font-weight: normal;display: inline;}
	#mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
	#mc_embed_signup .camposppales label{width: 120px;display: inline-block;margin-bottom: 10px;color: white}
	#mc_embed_signup .camposppales input{width: 230px;display: inline-block}
	#mc_embed_signup .mc-field-group input{height: 25px; padding: 0; margin: 0;background: white; border: none;}
	#mc_embed_signup .input-group ul {margin: 0;padding: 0;}
	#mc_embed_signup .input-group ul li{ font-size:12px; list-style: none;line-height: 5px; margin: 10px 0;}
	#mc_embed_signup .input-group ul li input{ vertical-align: middle; height: 15px}
	#mc_embed_signup .input-group ul li label{ vertical-align: middle; display: inline!important;color: white}
	#mc_embed_signup .input-group ul li a{color:aqua}
#mc_embed_signup .clear{text-align: center}
	.buttonMP{ background-color: cornflowerblue; color: white; font-size: 16px; border: none; border-radius: 5px; padding: 10px; cursor: pointer;}
.sg-popup-builder-content{height:95%}
.response{color:orange}

#mc_embed_signup2 .mc-field-group input{height: 25px; padding: 0; margin: 0;background: white; border: none;}
	#mc_embed_signup2 .input-group ul {margin: 0;padding: 0;}
	#mc_embed_signup2 .input-group ul li{ font-size:12px; list-style: none;line-height: 5px; margin: 10px 0;}
	#mc_embed_signup2 .input-group ul li input{ vertical-align: middle; height: 15px}
	#mc_embed_signup2 .input-group ul li label{ vertical-align: middle; display: inline!important;}
	#mc_embed_signup2 .input-group ul li a{color:#2ca8d2}
	#mc_embed_signup2 .clear{text-align: center}

.cajaRGPD{padding: 5px; margin-top: 5px; background-color: #ffffff; border: solid 1px #c9c9c9; text-align: left; font-style: italic; font-size: 0.7em; color: #444;}

.checkbossCF{line-height: 15px!important}
.checkbossCF span{width:25px; display: inline; margin: 0}
.checkbossCF input{ margin: 0; vertical-align: middle;}
.checkbossCF label{ margin: 0; height:25px; display:inline}
span.wpcf7-list-item{ margin: 0}
.wpcf7-list-item first last{ margin:0}
.wpcf7-response-output.wpcf7-validation-errors{color:black !important}

.row {
	max-width: 1300px !important;
}

.CABECERA .row{
        margin-right: 0!important;
    height: 500px!important;
    max-width: 100%!important;
}
.TEXTOCABECERA{
    margin-top: -350px;
    margin-left: 200px;
    }
.TEXTOCABECERA img{
    margin-bottom: 0
    }
.TEXTOCABECERA p{
    font-weight: 300;
    text-align: left;
    font-style: normal;
    font-family: "Open Sans";
    font-size: 40px;
    line-height: 1.3;
    width: 600px;
    opacity: 0
}
.TEXTOCABECERA p {
  animation-duration: 2s;
  animation-name: cabslide;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}
.TEXTOCABECERA2 p{
    margin-left: 200px;
    font-weight: 300;
    text-align: left;
    font-style: normal;
    font-family: "Open Sans";
    font-size: 1.5em;
    line-height: 1.3;
    width: 900px;
    color: #FFFFFF;
    opacity: 0;
}
.TEXTOCABECERA2 p{
  animation-duration: 2s;
  animation-name: cabslide;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes cabslide {
  from {
    opacity: 0
  }
    to{
    opacity: 1;
    }
}
@media only screen and (max-width: 450px) {
    .TEXTOCABECERA{
    margin-top: 0px;
    margin-left: 10px;
    }
    .TEXTOCABECERA img{
    margin: -120px 0 -60px 0;
    width: 50%
    }
    .TEXTOCABECERA p{
    font-size: 2em;
    width: 100%;
    opacity: 1;
    padding-bottom:10px
}
    .TEXTOCABECERA2 p{
    margin-left: 10px;
    font-size: 1.2em;
    line-height: auto;
    width: 100%;
    color: #FFFFFF;
    opacity: 1;
        padding-bottom: 20px;
}
    .CABECERA .row{
        height: 100%!important
            ;
    }

}
@media only screen and (min-width: 450px) and (max-width:768px) {
    .TEXTOCABECERA{
    margin-top: 0px;
    margin-left: 10px;
    }
    .TEXTOCABECERA img{
    width: 35%
    }
    .TEXTOCABECERA p{
    font-size: 2em;
    width: 100%;
    opacity: 1;
    padding-bottom:10px
}
   .TEXTOCABECERA2 p{
    margin-left: 10px;
    font-size: 1.2em;
    line-height: auto;
    width: 100%;
    color: #FFFFFF;
    opacity: 1;
        padding-bottom: 20px;
}
    .CABECERA .row{
        height: 100%!important
            ;
    }

}
@media only screen and (min-width: 768px){
.header-layout-1 .top-bar {
    max-width: 1300px!important;
}
}

@media only screen and (min-width: 768px){
.contain-to-grid .top-bar {
    max-width: 1300px;
}
}